# This workflow runs every five minutes to check for a new manifest
name: Check for new manifest
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Check for manifest update
        run: pnpm manifest:check
        env:
          API_KEY: ${{ secrets.API_KEY }}
          PAT: ${{ secrets.PAT }}
          SKIP_CHECK: 'false'

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          base: HEAD
          filters: |
            any:
              - '**/*'

      - name: Commit latest manifest version
        if: ${{ steps.filter.outputs.any == 'true' }}
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: new manifest version
          commit_user_name: D2 Manifest Bot
          commit_user_email: destinyitemmanager@gmail.com
          commit_author: D2 Manifest Bot <destinyitemmanager@gmail.com>
